@charset "UTF-8";

body {
	background-color: #bfefff;
}

.tophead {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.head {
	display: inline-block;
	margin-left: 200px;
	margin-right: 400px;
}

.menu {
	display: inline-block;
	margin-right: 200px;
	vertical-align: middle;
}

a{
	text-decoration: none;
}

.title {
	margin-top: 15%;
}